# macOS
.DS_Store

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform/variables.tf

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Kestra
kestra/data/
kestra/logs/
